.idea/
GitGitHub.iml
target/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


# some changes 
SomeFolder/ 

I delete the one from github
another one to the Same line with IntelliJ from Github
added this one on IntelliJ
